section.hero
  .container
    .hero__inner
      div.hero__left
        div.hero__content
          .menu.hero__menu
            ul.menu__list
              li.menu__item
                a.menu__btn.js-move-to.is-active(href="#main") Главная
              li.menu__item
                a.menu__btn.js-move-to(href="#advantages") Преимущества
              li.menu__item
                a.menu__btn.js-move-to(href="#cost") Стоимость
              li.menu__item
                a.menu__btn.js-move-to(href="#review") Отзывы

          h1.hero__title 
            span.accent Lorem ipsum 
            span dolor sit amet, consecte- tur adipiscing
          h2.hero__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius- mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
      div.hero__right
        include form.pug