.popup.popup_success.js-form-succes
  .popup__inner
    button.popup__close.js-close-popup.btn.btn_close
    h3.popup__title Спасибо за заявку!
    p.popup__info Наш менеджер свяжется с вами позже
    .popup__socials
      include ../components/socials