section#review.reviews
  h2.title.reviews__title Отзывы
  .reviews__slider.reviews-slider
    .swiper-container.js-reviews-slider
      .swiper-wrapper
        .swiper-slide.reviews-slider__slide
          img(src="./img/review.jpg", alt="review")
        .swiper-slide.reviews-slider__slide
          img(src="./img/review.jpg", alt="review")
        .swiper-slide.reviews-slider__slide 
          img(src="./img/review.jpg", alt="review")
    .js-reviews-slider-btn-prev.reviews-slider__btn.reviews-slider__btn_prev
    .js-reviews-slider-btn-next.reviews-slider__btn.reviews-slider__btn_next