ul.socials
  li.socials__item
    a.socials__link(href="#", style="background-image: url(../img/facebook.png")
  li.socials__item
    a.socials__link(href="#", style="background-image: url(../img/instagram.png")