doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800;900&family=Montserrat:wght@800&display=swap")
    link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.css")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    title Document
  body
    include sections/header
    include sections/hero
    include sections/advantages
    include sections/cost
    include sections/reviews
    include sections/footer
    include sections/popup-form
    include sections/popup-success
    script(src="./js/main.min.js")